<template name="Contact">
  <div class="row">
	  <div class="col s12 parallax-container">

	  	<div class="parallax">
				<img src="/images/wood-nature-leaves-tree.jpg">
			</div>

		  <div class="row">
			  <div class="col s12 m8">
			  	<div class="card-panel" style="padding-top: 5px">
			  		<h1>Contact Us</h1>
					  <p>
					  For more information, please contact:
					  </p>
					  <p>
					  	The Coordinator<br/>
							LITE Program<br/>
							CAS, UPLB<br/>
							College, Laguna 4031<br/>
							Tel No.: (63) 536-2402<br/>
							Email: lite_cas (at) yahoo (dot) com, bini_reg (at) yahoo (dot) com
					  </p>
			  	</div>
				  	
			  </div>

			  <div class="col s12 m4">
			  	<div class="card-panel">
			  		<h3>Events</h3>
					  <p>
					  
					  </p>
			  	</div>
			  </div>
		  </div>
		  
	  </div>
  </div>
</template>