<template name="Home2">
	<div class="home2">

		<div class="parallax-container">
			<div class="parallax">
      	<img src="/images/blur-old-antique-book-large.jpg">
    	</div>

  		<div class="row">
  			<div class="col s12 m7">
  				<div class="card-panel main-title-home-page background-semi-transparent">
		    		<h1 class="main-title-home-page-text">
		    			Language Instruction Towards Excellence (LITE) Program
		    		</h1>
		    	</div>
  			</div>
  		</div>
    	

		</div>	

		<div class="parallax-container services-header-image">
			<div class="parallax">
      	<img src="/images/dawn-sunset-person-sunrise.jpg">
    	</div>

    	<div class="row">
  			<div class="col s4">
  				<div class="card-panel services-header background-semi-transparent-2">
		    		<h2 class="">
		    			Services and Offerings
		    		</h2>
		    	</div>
  			</div>
  		</div>

		</div>

		<div class="parallax-container services">
			<div class="parallax">
				<img src="/images/wood-nature-leaves-tree.jpg">
			</div>

			<div class="row services-content">

				<div class="col s12 ieigs-panel">
					<div class="row ">
						<div class="col s12 m6 ">
							<div class="card-panel ieigs-panel-content background-semi-transparent-3">
								<h3>Intensive English Course for International Graduate Students (IECIGS)</h3>
								<p>
									The Intensive English for International Graduate Students (IEIGS), 
		              a 150-hour course intended for international graduate students of UP Los Baños, 
		              provides training at two levels of proficiency–intermediate and advanced–in 
		              three aspects of English–reading, grammar and composition, and speech communication. 
								</p>
							</div>							
						</div>
						<div class="col s12 m6">
							<div class="card">
								<div class="card-image">
									<img src="/images/lite2015/lite2.jpg">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col s12 epcis-panel">
					<div class="row">					
						<div class="col s12 m6">
							<div class="card">
								<div class="card-image epcis-image" >
									<img src="/images/lite2014/lite6.jpg">
								</div>
							</div>
						</div>
						<div class="col s12 m6">
							<div class="card-panel epcis-panel-content background-semi-transparent-3">
								<h3>English Plus Course for International Students</h3>
								<p>
									The ENGLISH PLUS is three-to four-week course that covers two areas: 
		              Pronunciation Improvement and Oral Presentation Skills and Conversational
		              Fluency. It is supplemented by a 2-hour daily
		              guided interaction and a cultural exposure trip
		              within UPLB and IRRI including around the
		              province of Laguna. 
								</p>
							</div>							
						</div>
					</div>
				</div>

				<div class="col s12 tutorial-panel">
					<div class="row ">
						<div class="col s12 m6 ">
							<div class="card-panel tutorial-panel-content background-semi-transparent-3">
								<h3>Tutorials</h3>
								<p>
		             LITE also offers, on request, one-on-one or small
		              group tutorials in the following languages:
		              <br/>&nbsp;&nbsp;&nbsp;- English
		              <br/>&nbsp;&nbsp;&nbsp;- Filipino
		              <br/>&nbsp;&nbsp;&nbsp;- Spanish
		              <br/>&nbsp;&nbsp;&nbsp;- Nihongo
		              <br/>&nbsp;&nbsp;&nbsp;- French
		              <br/>
		              Tutorials for TOEFL and other English examinations are
		              also offered, upon request.
		            </p>
							</div>							
						</div>
						<div class="col s12 m6">
							<div class="card">
								<div class="card-image">
									<img src="/images/lite2014/lite2.jpg">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col s12 tutorial-panel">
					<div class="row ">
						<div class="col s12 m6">
							<div class="card">
								<div class="card-image">
									<img src="/images/lite2014/lite5.jpg">
								</div>
							</div>
						</div>
						<div class="col s12 m6 ">
							<div class="card-panel tutorial-panel-content background-semi-transparent-3">
								<h3>Special Languages Courses</h3>
								<p>
		             Special short-term courses are offered for small groups, on request.
		              <br/>&nbsp;&nbsp;&nbsp;- Business English (Business Correspondence, Effective Oral Presentations, Report Writing)
		              <br/>&nbsp;&nbsp;&nbsp;- Occupational English (English for domestic helpers, hospital. Workers, restaurant workers, hotel workers, etc).		              
		              <br/>
		              Upon completion of a course/tutorial program, the student receives either a Certificate of Proficiency, a Certificate of Completion, or a Certificate of Attendance.
		            </p>
							</div>							
						</div>
						
					</div>
				</div>

			</div>
		</div>

		<div class="blue near-footer">
		<h3>Registration and Fees</h3>
			<p>
				Information on fees will be provided upon request.</p>
			<p>
				Registration for any LITE Program course
				should be made at the LITE Program Office
				(Second Floor, CAS Building).<br/> Payment of fees
				is at the Office of the CAS Dean, CAS Building
				or at the UPLB Foundation, Inc (near PNB,
				College Branch).
			</p>
			<p>
				You can contact us by checking out our <a href="/contact" class="white-text">Contact Page</a>
			</p>
		</div>

	</div>
</template>