<template name="Home">
  <div class="big-header parallax-container">
    <h1 id="main-header-title">
      Language Instruction Towards Excellence (LITE) Program
    </h1>
    <p id="main-header-tagline">
      <!--[place short tagline for LITE here]-->
    </p>
    <div class="parallax">
      <img src="/images/blur-old-antique-book-large.jpg">
    </div>
  </div>
  <div class="services-list">
    
    <!--<div class="row">-->
    <!--  <div class="col s12 offset-m3 m6">-->
    <!--    <iframe width="632" height="400" src="https://www.youtube.com/embed/EiWj2XM7jfQ" frameborder="0" allowfullscreen></iframe>-->
    <!--  </div>-->
    <!--</div>-->
    <div class="parallax-container">
      <div class="parallax">
        <img src="/images/dawn-sunset-person-sunrise.jpg">
      </div>
      <div class="service-header card-panel">
        <h1 class="header">Services</h1>
      </div>
        
    </div>

    <div class="row">
      <div class="col s12 m6 margin">
        <div class="card">
          <div class="card-image">
            <img src="/images/lite2015/lite2.jpg">
            <span class="card-title">Intensive English Course for International Graduate Students (IECIGS)</span>
          </div>
        </div>
        
      </div>
    </div>
    <!-- <div class="row" style="padding: 20px">
      <div class="col s12 card-panel">
        <div class="row">
          <div class="col s12 m6">
            <h2>Intensive English Course for International Graduate Students (IECIGS)</h2>
            <p>
              The Intensive English for International Graduate Students (IEIGS), 
              a 150-hour course intended for international graduate students of UP Los Baños, 
              provides training at two levels of proficiency–intermediate and advanced–in 
              three aspects of English–reading, grammar and composition, and speech communication. 
            </p>
          </div>
          <div class="col s12 m6">
            <img class="responsive-img" src="/images/lite2015/lite2.jpg">
          </div>
        </div>
      </div>
      
      
      
      <div class="col s12 card-panel">
        <div class="row">
          <div class="col s12 m6">
            &nbsp;
          </div>
          <div class="col s12 m6">
            <h2>English Plus Course for International Students</h2>
            <p>
              The ENGLISH PLUS is three-to four-week course that covers two areas: 
              Pronunciation Improvement and Oral Presentation Skills and Conversational
              Fluency. It is supplemented by a 2-hour daily
              guided interaction and a cultural exposure trip
              within UPLB and IRRI including around the
              province of Laguna. 
            </p>
          </div>
          
        </div>
      </div>
      
      <div class="col s12 card-panel">
        <div class="row">
          
          <div class="col s12 m6">
            <h2>Tutorials</h2>
            <p>
             LITE also offers, on request, one-on-one or small
              group tutorials in the following languages:
              <ul class="collection">
                <li class="collection-item">English</li>
                <li class="collection-item">Filipino</li>
                <li class="collection-item">Spanish</li>
                <li class="collection-item">Nihongo</li>
                <li class="collection-item">French</li>
              </ul>
              Tutorials for TOEFL and other English examinations are
              also offered, upon request.
            </p>
          </div>
          
          <div class="col s12 m6">
             &nbsp;
          </div>
          
        </div>
      </div>
    </div>

    <div class="col s12 card-panel">
      <div class="row">
        <div class="col s12 m6">
           &nbsp;
        </div>
        <div class="col s12 m6">
          <h2>Special Languages Courses</h2>
          <p>
            Special short-term courses are offered for small groups, on request.
          </p>
          <p>
            - Business English (Business Correspondence, Effective Oral Presentations, Report Writing)
          </p>
          <p>
            - Occupational English (English for domestic helpers, hospital. Workers, restaurant workers, hotel workers, etc).
          </p>
          <p>
            Upon completion of a course/tutorial program, the student receives either a Certificate of Proficiency, a
            Certificate of Completion, or a Certificate of Attendance.
          </p>
        </div>
        
      </div>
    </div> -->
    
  </div>
</template>
